<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ViewEmployeeController</servlet-name>
        <servlet-class>com.hr.servlet.ViewEmployeeControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewEmployeeController</servlet-name>
        <url-pattern>/viewemployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveEmployeeController</servlet-name>
        <servlet-class>com.hr.servlet.SaveEmployeeControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveEmployeeController</servlet-name>
        <url-pattern>/saveemployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveRoleController</servlet-name>
        <servlet-class>com.hr.servlet.SaveRoleControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveRoleController</servlet-name>
        <url-pattern>/saverole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateRoleController</servlet-name>
        <servlet-class>com.hr.servlet.UpdateRoleControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRoleController</servlet-name>
        <url-pattern>/updaterole</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateTaskController</servlet-name>
        <servlet-class>com.hr.servlet.UpdateTaskControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTaskController</servlet-name>
        <url-pattern>/updatetask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveTaskController</servlet-name>
        <servlet-class>com.hr.servlet.SaveTaskControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveTaskController</servlet-name>
        <url-pattern>/savetask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>com.hr.servlet.UpdateEmployeeControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/updateemployee</url-pattern>
    </servlet-mapping>
</web-app>
